<div class="no-questions">

   <div class="noquestions-images">
    <img src="../../../images/noquestions.svg" alt="sem perguntas">
   </div>
   <div class="noquestions-paragraph">
    <p>Nenhuma pergunta por aqui...</p>
    <p>Faça sua primeira pergunta e envie o </br>código dessa sala para outras pessoas!</p>
   </div>
   
</div>
